In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

## Date & time exercises (without loading the data)

#### The Apollo 11 mission landed on the moon on  July 20th, 1969
 * Waht day of week was it?
 * How many days elapsed since the landing till now?
 * Was that a leap year?

## Active Satellites in Orbit Around Earth
 * The CSV file is on GitHub in the same folder as this notebook
 * Data Source: https://www.kaggle.com/ucsusa/active-satellites

In [2]:
df = pd.read_csv('active_satellites.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420 entries, 0 to 1419
Data columns (total 26 columns):
Official Name of Satellite                     1420 non-null object
Country/Organization of UN Registry            1420 non-null object
Operator/Owner                                 1419 non-null object
Country of Operator/Owner                      1420 non-null object
Users                                          1419 non-null object
Purpose                                        1419 non-null object
Detailed Purpose                               369 non-null object
Class of Orbit                                 1419 non-null object
Type of Orbit                                  899 non-null object
Longitude of Geosynchronous Orbit (Degrees)    1402 non-null float64
Perigee (Kilometers)                           1419 non-null float64
Apogee (Kilometers)                            1419 non-null float64
Eccentricity                                   1419 non-null float64
Inclination (Degrees)                          1419 non-null float64
Period (Minutes)                               1417 non-null object
Launch Mass (Kilograms)                        1317 non-null object
Dry Mass (Kilograms)                           473 non-null object
Power (Watts)                                  649 non-null object
Date of Launch                                 1416 non-null object
Expected Lifetime (Years)                      976 non-null object
Contractor                                     1419 non-null object
Country of Contractor                          1419 non-null object
Launch Site                                    1419 non-null object
Launch Vehicle                                 1419 non-null object
COSPAR Number                                  1419 non-null object
NORAD Number                                   1419 non-null float64
dtypes: float64(6), object(20)
memory usage: 288.5+ KB

In [14]:
df.head()

,Official Name of Satellite,Country/Organization of UN Registry,Operator/Owner,Country of Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,Longitude of Geosynchronous Orbit (Degrees),...,Dry Mass (Kilograms),Power (Watts),Date of Launch,Expected Lifetime (Years),Contractor,Country of Contractor,Launch Site,Launch Vehicle,COSPAR Number,NORAD Number
0,AAUSat-4,NR,University of Aalborg,Denmark,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,0.00,...,NaN,NaN,4/25/2016,NaN,University of Aalborg,Denmark,Guiana Space Center,Soyuz 2.1a,2016-025E,41460.0
1,ABS-2,NR,Asia Broadcast Satellite Ltd.,Multinational,Commercial,Communications,NaN,GEO,NaN,75.00,...,NaN,16000,2/6/2014,15,Space Systems/Loral,USA,Guiana Space Center,Ariane 5 ECA,2014-006A,39508.0
2,ABS-2A,NR,Asia Broadcast Satellite Ltd.,Multinational,Commercial,Communications,NaN,GEO,NaN,-75.00,...,NaN,NaN,6/15/2016,15,Boeing Satellite Systems,USA,Cape Canaveral,Falcon 9,2016-038A,41588.0
3,ABS-3,Philippines,Asia Broadcast Satellite Ltd.,Multinational,Commercial,Communications,NaN,GEO,NaN,146.06,...,1800,9000,8/19/1997,15,Space Systems/Loral,USA,Xichang Satellite Launch Center,Long March CZ3B,1997-042A,24901.0
4,ABS-3A,NR,Asia Broadcast Satellite Ltd.,Multinational,Commercial,Communications,NaN,GEO,NaN,-3.00,...,NaN,NaN,3/2/2015,15,Boeing Satellite Systems,USA,Cape Canaveral,Falcon 9,2015-010A,40424.0

#### The olny column with dates is 'Date of Launch'. By default it is loaded as string. Convert the column (or create a new one) so that it contains parsed dataes. Let's call it "launched". (feel free to rename other columns as needed for convenience)

In [28]:
df['launched'] = pd.to_datetime(df['Date of Launch'])

#### Remeber that we can access the date/time specific functions of Timestamp columns using "dt"

In [ ]:
# For example to get the year use
df['launched'].dt.year

#### dt.year returns an integer but the output from the cell above contain the years in a Series object with float data type. Why is it float and not ingeger?"

#### Are there any rows with missing lauch date? How is this missing data represented in the converted Timestamp column?


#### Drop the rows with missing data for convenience in following tasks. Recompute the 'launched' column and observe that it's now integer

#### Plot a histogram of the launch date


#### The histogram above is nice, but it places bin boundaries in some weird places. Let's compute the number of launches each year and then plot it (as either a bar or scatter plot - try both)
 * Hints: use either value_counts() or groupby() to calculate the counts